kubernetes-topology-graph {
    display: block;
    user-select: none;
}

.kube-topology g {
    font-family: PatternFlyIcons-webfont;
    font-size: 18px;
    text-anchor: middle;
    cursor: pointer;
}

.kube-topology g text {
    stroke: none;
    stroke-width: 0px;
}

.kube-topology g.weak use {
    opacity: .6;
}

.kube-topology g.fixed use {
    stroke-width: 2px;
}

.kube-topology g.selected use,
.kube-topology g.selected circle {
    stroke-width: 4px;
}

.kube-topology line {
    stroke: #aaa;
    stroke-width: 1;
}

.kube-topology line.ReplicationControllerPod {
    stroke-linecap: round;
    stroke-dasharray: 5, 2;
}

kubernetes-topology-icon {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    padding: 10px;
    user-select: none;
}

kubernetes-topology-icon svg {
    width: 32px;
    height: 32px;
    display: block;
}

kubernetes-topology-icon use {
    opacity: 0.4;
}

kubernetes-topology-icon.active use {
    opacity: 1;
}

kubernetes-topology-icon:hover use {
    opacity: 0.7;
}



/* d3-context-menu styles */

.d3-context-menu {
	position: absolute;
	display: none;
	background-color: #f2f2f2;
	border-radius: 4px;

	font-family: Arial, sans-serif;
	font-size: 14px;
	min-width: 150px;
	border: 1px solid #d4d4d4;

	z-index:1200;
}

.d3-context-menu ul {
	list-style-type: none;
	margin: 4px 0px;
	padding: 0px;
	cursor: default;
}

.d3-context-menu ul li {
	padding: 4px 16px;
}

.d3-context-menu ul li:hover {
	background-color: #4677f8;
	color: #fefefe;
}
