---
apiVersion: v1
kind: PersistentVolume
metadata:
    name: "{{ pv }}" 
spec:
    capacity:
       storage: 500Mi
    accessModes:
       - ReadWriteMany
    nfs:
      path: "{{ nfs_path }}"
      server: "{{ nfs_master }}" 
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
    namespace: "{{ namespace }}"
    name: "{{ pv }}"
spec:
   accessModes:
     - ReadWriteMany
   resources:
      requests:
        storage: 10Mi
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
   namespace: "{{ namespace }}"
   name: "{{ pod_name }}"
spec:
  replicas: 1
  strategy: {}
  template:
    metadata:
      labels:
       app: ide
    spec:
        containers:
          - name: dappide
            image:  redtree941/jupyter
            env:
              - name: PASSWORD
                value: "{{ password }}"
            ports:
                - containerPort: 8888
            volumeMounts:
                      - mountPath: /home/jovyan/work
                        name: "{{ volume }}"
        volumes:
              - name: "{{ volume }}" 
                persistentVolumeClaim:
                    claimName: "{{ pv }}"
